[user]
    name = strozz1
    email = oscar.gonzalez.strozzi14@gmail.com
    signingkey = "ADD HERE"
[core]
    editor = nvim
    #sshCommand = /mnt/c/Windows/System32/OpenSSH/ssh.exe

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status

[push]
    default = simple

[color]
    ui = auto
[gpg]
  format = ssh

[gpg "ssh"]
  #program = "/mnt/c/Users/triss/AppData/Local/1Password/app/8/op-ssh-sign-wsl"

[commit]
  gpgsign = true
